{% extends 'base.html' %} {% block title %}{{ user.first_name }}, {{
user.last_name }}{% endblock %} {% block content %}

<div class="row">
  {% if user.image_url %}
  <div>
    <img src="{{ user.image_url }}" />
  </div>
  {% endif %}

  <div>
    <h1>{{ user.first_name }}, {{ user.last_name }}</h1>

    <form>
      <button
        name="edit"
        formaction="/users/{{ user.id }}/edit"
        formmethod="GET"
      >
        Edit
      </button>
      <button
        name="delete"
        formaction="/users/{{ user.id }}/delete"
        formmethod="POST"
      >
        Delete
      </button>
    </form>
    <div>
      <h3>Posts</h3>
      <ul>
        {% for post in user.posts %}
        <li>
          <a href="/posts/{{ post.id }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>

      <p><a href="/users/{{ user.id }}/posts/new">Add Post</a></p>
    </div>
  </div>
</div>

{% endblock %}
